
<ul class="nav navbar-nav">
    <li><a href="#">@(User.Identity?.Name ?? "Гость")</a></li>
    <li><a href="#"><i class="fa fa-star"></i> Список желаний</a></li>
    <li><a href="checkout.html"><i class="fa fa-crosshairs"></i> Оформить заказ</a></li>
    <li><a href="cart.html"><i class="fa fa-shopping-cart"></i> Корзина</a></li>
    @if (User.Identity.IsAuthenticated)
    {
        <li><a asp-controller="Account" asp-action="Logout">Выход</a></li>
    }
    else 
    {
        <li><a asp-controller="Account" asp-action="Login">Вход</a></li>
    }
</ul>