
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>My Home page!!!</p>
    <a>Список сотрудников</a>
</body>
</html>
